# Build and Release Folders
Debug/
AioTestFixture/Debug/
Release/
AioTestFixture/Release/
ipch/

# Other files and folders
AioTestFixture.sdf

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
